!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
    script(type="text/javascript", data-main="/js/main", charset="utf-8", src="/js/require-jquery.js")

  body!= body
